.wrap-alerts {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-top: 1rem;
  width: 300px;
  max-height: 100px;
  height: auto;
  border-radius: 4px;
  z-index: 1000;

  button {
    position: absolute;
    right: 4px;
    top: 4px;
  }

  &-danger{
    color: #842029;
    background-color: #f5c2c7;
    border-color: #f5c2c7;
  }

  &-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
  }
}
